/****************************************************** CSS Overlay *******************************************************/
.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1000;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup.popup-option {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  width: 50% !important;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  cursor: pointer;
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
  
@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}

/****************************************************** CSS BUTTONS *******************************************************/
.button-4 {
  appearance: none;
  background-color: #e0e3e6;
  border: 0px solid rgba(27, 31, 35, 0.15);
  border-radius: 2px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #ebedef;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 2px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/****************************************************** CSS PANNEL/TOOLBOX *******************************************************/

.pannelCheckboxInput {
  margin-top: 4px;
  vertical-align: middle;
  width:20px;
  height:20px;
}

.pannelLabel {
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle
}

.svg-toolbox {
  width: 20px;
  height: 20px;
}

.fa-bold{
  -webkit-text-stroke: 1px black;
}

.toolbox-options {
  border: none;
  background-color: #0f8aff;
  color: #fff;
  font-size: 12px;
  padding: 3px 0;
  height: 30px;
  line-height: 0;
  display: block;
  width: 90%;
  margin: 5px auto!important;
  outline: 0 solid transparent!important;
}

.toolbox-group {
  font-size: 12px;
  font-weight: bold;
  width: 90%;
  margin: 5px auto!important;
  text-align:center;
  vertical-align: middle;
}

.toolbox-title{
  width: 90%;
  align-content: center;
  display: block;
  margin: 5px auto!important;
}

.toolbox-popup-wrapper{
  width: 90%;
  margin: 5px 30px;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background-color: #ebf0f5;
  border: 1px solid transparent;
  border-color: #ddd;
}

.toolbox-popup-content{
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toolbox-actions{
  text-align: center;
}

/****************************************************** CSS OTHERS *******************************************************/

.line {
  width: 90%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.center {
  margin-top: 20px;
  text-align: center;
}

.margin-bot-20 {
  margin-bottom: 20px;
}

.margin-bot-5 {
  margin-bottom: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.width-80 {
  width: 80px;
}

input {
  margin-left:5px;
}

.nhn-icon {
  position: absolute;
  left:20px;
  top:20px;
  width:50px;
  height:40px;
  pointer-events: none;
}

.fa {
  margin-right: 5px;
  font-size: 10px;
}

/******************************** LOADER ********************************/
#loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1500;
  visibility: hidden;
  top: 40%;
  left: 50%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}